* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

#app {
  padding: 20px;
  width: 350px;
  height: 600px;
  border: 2px solid #212529;
  border-radius: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

[class^="card-"] {
  border: 2px solid #dadada;
  border-radius: 4px;
  height: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-1 img {
  width: 65px;
  /* border: 2px solid red; */
  margin-top: -12px;
}

.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
